{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<section id="register">
	<div class="overlay"></div>
	<div class="row section-margin">
		<div class="small-6 small-offset-3 columns">
			<div class="panel">
				<form method="post" action="">
    				{% csrf_token %}
    				{{ form.as_p }}
    				<input type="submit" value="{% trans 'Submit' %}" class="button rounded small"/>
				</form>
			</div>
		</div>
	</div>	
</section>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}