{% extends "trips/trips_base.html" %}

{% block content_trip %}
    <div class="row section-margin white">
	    <div class="small-8 small-offset-2 columns">
            <h2 class="custom-grey text-center">Edit Experience</h2>

            <form id="experience_form" method="post" action="/trips/{{ trip_title_slug }}/{{ experience_id }}/edit_experience/">
    
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Submit" class="button small" />
            </form>
        </div>
    </div>

{% endblock %}