{% extends "accounts/accounts_base.html" %}
{% load static %}
{% block content_accounts %}

<div class="row section-margin white">
    <div class="small-12">
        <form id="user_form" method="post" action="/users/add_profile_pic/"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Submit" class="button small" />
        </form>
    </div>
</div>
        {% endblock %}