{% extends 'base_no_header.html' %}

{% block content %}
<section id="login">
	<div class="overlay"></div>
    <div class="row section-margin">
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <div class="panel">
                <h2 class="custom-blue">Contact Us</h2>
                <form method="post">{% csrf_token %}
                    <p>Name: <input type="text" name="name"></p>
                    <p>Your e-mail: <input type="text" name="email"></p>
                    <p>Message: <textarea name="body" rows="7" cols="50"></textarea></p>
                    <input type="submit" value="Submit" class="button default rounded">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}